<div class="login-bg">
  <div class="page-body">
    <div class="form-border-box">
      <mat-progress-bar [ngStyle]="{'visibility': loading ? 'visible' : 'hidden'}"
                        mode="indeterminate"></mat-progress-bar>
      <mat-card>
        <div class='form-inputs-container'>
          <form [formGroup]="loginForm">
            <h3 class='mat-typography'>Login</h3>
            <mat-form-field>
              <input matInput placeholder="Email" type="text" formControlName="username" autocomplete="on">
              <mat-error *ngIf="username.hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="username.hasError('email')">Email not correctly formatted</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName="password" autocomplete="on">
              <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
            </mat-form-field>

            <p class="error-message">{{errorMessage}}</p>

            <button mat-stroked-button (click)="onSubmit()" [disabled]="!loginForm.valid" color="primary">Continue
            </button>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>

