/* html {
  content: url("../../assets/images/test.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.login-bg{
  width: 100%;
  height: 94%; /*should not be a permanant solution, likely need to fiddle with navmenu layout, nav tool-bar height is 55px */
  background-size: cover;
  background: url("../../../assets/login-register-bg.jpg") no-repeat center;
}

.page-body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

mat-card{
  max-width: 400px;
  width: 30vw;
  min-width: 200px;
}

.form-inputs-container > *{
  margin:20px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

button{
  margin-top: 25px;
}

form{
  display: flex;
  flex-direction: column;
}

form > h3 {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
}

form > mat-form-field {
  margin-bottom: 10px;
}
