<h2 mat-dialog-title>Edit Profile Name</h2>

<mat-dialog-content>
  <!-- Profile Name -->
  <mat-form-field >
    <input matInput placeholder="Profile Name" [formControl]='name' required>
    <mat-error *ngIf="name.hasError('required')">Profile Name is required</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]='!name.valid' (click)='createProfile()'>Create</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
