.toolbar-container {
  background-color: lightgrey;
  padding: 5px;
}

.mat-raised-button {
  margin: 5px 5px 5px;
}

.mat-form-field {
  float: right;
  padding: 0 5px 0 5px;
  width: 250px;
}

.edit-button {
  margin-top: 5px;
  float: right;
}
