<div class="toolbar-container">
  <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
    <span>Create</span>
  </button>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="openFluxCreationDialog()" [disabled]="!selectedProfile">
        <mat-icon>trending_up</mat-icon>
        <span>Flux</span>
      </button>
      <button mat-menu-item (click)="openProfileCreationDialog()">
        <mat-icon>folder</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="openSourceCreationDialog()">
        <mat-icon>directions</mat-icon>
        <span>Source</span>
      </button>
    </ng-template>
  </mat-menu>

  <!-- Profile Management -->
  <mat-form-field>
    <mat-select placeholder="Profile" [(value)]="selectedProfile" (selectionChange)="updateSelectedProfile($event)">
      <mat-option *ngFor="let profile of profiles" [value]="profile.id">
        {{profile.name}}
        <button mat-button class="edit-button" (click)="openProfileEditDialog(profile)">
          <mat-icon svgIcon="edit"></mat-icon>
        </button>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
