.edit-button {
  float: right;
  height: 100%;
}

.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-form-field {
  height: 100%;
  width: 300px;
}

mat-toolbar {
  background-color: lightgrey;
}
