.mat-raised-button {
  margin: 5px 5px 5px;
}

.edit-button {
  margin-top: 5px;
  float: right;
}

.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-form-field {
  padding: 0 5px 0 5px;
  width: 300px;
}

mat-toolbar {
  background-color: lightgrey;
}
