<div class='register-bg'>
  <div class='page-body'>
    <div class='form-border-box'>
      <mat-card>
        <div class='form-inputs-container'>
          <form [formGroup]="registerForm">
            <h3 class='mat-typography'>Register</h3>

            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="email.hasError('email')">Not a valid Email</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName="password" required>
              <mat-error *ngIf="password.hasError('required')">Password required</mat-error>
              <mat-error *ngIf="password.hasError('meetspolicy')">Does not meet password policy</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Confirm Password" type="password" formControlName="confirm" required>
              <mat-error *ngIf="confirm.hasError('required')">Confirm Password is required
              </mat-error>
              <mat-error *ngIf="confirm.hasError('mismatch')">Does not match password
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="first">
              <mat-error *ngIf="first.hasError('minLength')">First name must be at least 3
                characters
              </mat-error>
              <mat-error *ngIf="first.hasError('maxLength')">First name cant be longer than
                25 characters
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="last">
              <mat-error *ngIf="last.hasError('minLength')">Last name must be at least 3
                characters
              </mat-error>
              <mat-error *ngIf="last.hasError('maxLength')">Last name cant be longer
                than
                25 characters
              </mat-error>
            </mat-form-field>

            <button mat-stroked-button type="submit" [disabled]="!registerForm.valid" color="primary">Create Account
            </button>
            <br>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
