.component-container {
  overflow: auto;
  width: 100%;
}

.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.table-container {
  overflow: auto;
}

table {
  width: 100%;
}

mat-toolbar {
  background-color: lightgrey;
}

mat-form-field {
  width: 300px;
  height: 100%;
}
