<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(beyondBreakpoint | async)}" fixedInViewport="false"
               [attr.role]="(beyondBreakpoint | async) ? 'dialog' : 'navigation'"
               [mode]="(beyondBreakpoint | async) ? 'over' : 'side'"
               [opened]="!(beyondBreakpoint | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]='["/"]'>Home</a>
      <a mat-list-item [routerLink]='["/dashboard"]'>Dashboard</a>
      <a mat-list-item [routerLink]='["/"]'>API</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <a mat-button [routerLink]='["/"]'>Cash Flux</a>
      <div *ngIf="!(beyondBreakpoint | async)">
        <a mat-button [routerLink]='["/"]'>Home</a>
        <a mat-button [routerLink]='["/dashboard"]'>Dashboard</a>
        <a mat-button [routerLink]='["/"]'>API</a>
      </div>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
              *ngIf="beyondBreakpoint | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="filler"></span>
      <div *ngIf="loggedIn" class="loggedIn-View">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon svgIcon="account-box"></mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <ng-template matMenuContent>
            <button (click)="logout()" mat-menu-item>Logout</button>
          </ng-template>
        </mat-menu>
      </div>
      <div *ngIf="!loggedIn">
        <a mat-button [routerLink]='["/login"]' *ngIf="!loggedIn">Login</a>
        <a mat-button [routerLink]='["/register"]' *ngIf="!loggedIn">Register</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
