.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  min-height: 55px;
  max-height: 55px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.hidden {
  display: none;
}

.filler {
  flex: 1 1 auto;
}

.welcome-message {
  font-size: 14px;
}

strong > .welcome-message {
  font-weight: bold;
}
